<div id="home">
  <div class="container-fluid">
    <div class="row">
      <div id="hero" class="col-xs-12">
        <div id="hero-description">
          <div class="row">
            <h1>Making music better.</h1>
          </div>
          <div class="row">
            <a href="/users/sign_up" class="btn btn-cta btn-large">Sign up for early beta</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="features" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-header">
            <h2>Why use Waaves?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="section-point">
            <i class="fa fa-credit-card"></i>
            <h3>Get matched</h3>
            <p>Just tell us what you’re looking for and we’ll find the best match for you.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="section-point">
            <i class="fa fa-users"></i>
            <h3>Engage with community</h3>
            <p>Share your music with the community to get fans, feedback, and more collaborators!</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="section-point">
            <i class="fa fa-code"></i>
            <h3>Get coached</h3>
            <p>Get free access to seasoned recording professionals to make the most of your collaboration.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="waaves-story" class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2>How we started</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>Waaves was started with the mission of enabling music hobbyists to finish complete songs by connecting them with other music hobbyists.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="/users/sign_up" class="btn btn-cta btn-large">Sign up for early beta</a>
        </div>
      </div>
    </div>
  </div>
</div>
