<div class="waaves_header container-fluid margin-above-top-sm">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 align="center">
      Get matched with other musicians across the world!
    </h2>

    <form action="users/sign_up">
      <button type="submit" class="btn btn-primary btn-block">
        Sign up for the beta!
      </button>
    </form>
  </div>

</div>

</div>




<div class="why_waaves container-fluid padding-inside-top-sm padding-inside-bottom-md">

  <div class="row">

    <div class="col-sm-12 text-center">
      <h2>
        Why use waaves.io?
      </h2>

      <p>
        Find collaborators across the world in an instant. Join the beta today!
      </p>
    </div>

  </div>

  <div class="row text-center">

    <div class="col-sm-4 padding-inside-top-sm">
      <img src="/images/algo.png" class="img-circle spotlight-image margin-below-bottom-sm">

      <h4>
        Get matched
      </h4>

      <p>
        Just tell us what you're looking for and we'll find the best match for you.
      </p>
    </div>

    <div class="col-sm-4 padding-inside-top-sm">
      <img src="/images/coach.png" class="img-circle spotlight-image margin-below-bottom-sm">

      <h4>
        Get coaching
      </h4>

      <p>
        Get free access to seasoned recording professionals to make the most of your collaboration.
      </p>
    </div>

    <div class="col-sm-4 padding-inside-top-sm">
      <img src="/images/community.png" class="img-circle spotlight-image margin-below-bottom-sm">

      <h4>
        Engage with the community
      </h4>

      <p>
        Share your music with the community to get fans, feedback, and more collaborators!
      </p>
    </div>

  </div>

</div>

</div> <!-- container-fluid -->



<div class="container-fluid padding-inside-top-sm padding-inside-bottom-md">

  <div class="row">

    <div class="col-sm-6 text-center padding-inside-top-md">
      <h2>About Waaves.io</h2>
    </div>

    <div class="col-sm-6 padding-inside-top-sm">
      <p>Waaves was started with the mission of enabling music hobbyists to finish complete songs by connecting them with other music hobbyists.</p>
    </div>

  </div>

</div>

<</body>
